body
{
	max-width: 100%;
	background-image: url(../Images/BGround.jpg);
	background-size: 100%;
}
body, html
{
font-family: 'Titillium Web', sans-serif;
padding: 0;
margin: 0;
}

header
{
  background-color: #2e2e2e;
}
.container
{
  max-width: 1200px;
  margin:0 auto;
}
.header
{
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.header-top
{
color: white;
display: flex;
}
.header-top ul
{
  list-style-type: none;
  display: flex;
  padding: 3px;
}
.header-top a
{
  text-decoration: none;
  color: white;
  padding: 3px;
  justify-content: center;
}
.header-top a li:hover
{
  color: #6D214F;
}
.header-bottom ul
{
  display: flex;
  list-style-type: none;
}
.header-bottom ul li
{
  padding: 10px 4px;
}
.header-bottom ul li a
{
  padding: 6px;
  color: white;
  text-align: center;
  background: #787878;
  border-radius: 50%;
}
.linkedIn:hover
{
  background-color: #007bb5;
}
.twitter:hover
{
  background-color: #1da1f2;
}
.pinterest:hover
{
  background-color: #bd081c;
}
.googleplus:hover
{
  background-color: #db4437;
}
.rss:hover
{
  background-color: #ee802f;
}

.main-top li:hover, .main-top li.active {
    border-bottom: 3px solid #0099ff;
}
.main-top {
    padding-top: 0;
}

.main-top ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}

.main-top ul a {
    margin: 8px 0;
    text-decoration: none;
    display: inline-block;
    color: black;
}

.main-top ul li {
    margin-right: 25px;
    font-size: 15px;
}

.main-top ul li.active a {
    opacity: 0.5;
}

.main-top ul a li:hover {
    color: #9f9f9f;
    transition: 0.4s ease;
}

.main-top .dropdown_menu {
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    border: 1px solid #e7edf0;
    position: absolute;
    z-index: 99;
    background-color: #fff;
    -webkit-transition: all .25s;
    transition: all .25s;
    display: inline-block;
    opacity: 0;
    max-width: 170px;
    transform: translateY(20px);
    visibility: hidden;
}

.main-top .dropdown_menu li {
    display: inline-block;
    width: 100%;
    -webkit-transition: all .15s;
    transition: all .15s;
}

.main-top .dropdown_menu li:hover, .main-top .dropdown_menu li.active {
    border-bottom: 0;
    background-color: whitesmoke;
}

.main-top .dropdown_menu li a {
    margin: 0;
    padding: 6px 8px;
    width: 100%;
    float: left;
    font-size: 14px;
}

.dropdown:hover .dropdown_menu {
    display: inline-block;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.dropdown div {
    display: none;
}

.dropdown:hover div {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
}

.dropdown div a {
    margin-top: 0px;
    margin-bottom: 0px;
    width: auto;
    height: 30px;
    padding-top: 2px;
    padding-left: 2px;
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
}

.dropdown div a:hover {
    background-color: #0099ff;
    color: white;
    cursor: pointer;
    transition: 0.5s ease;
}

li
{
	color: white;
}

.diV1{
width: 250px;
height: 250px;
background-color: grey;
border: 1px solid black;
margin-top: 20px;
margin-left: 25px;
}

  .diV{
  width: 250px;
  height: 150px;
  background-color: grey;
  border: 1px solid black;
  margin-top: 10px;
  margin: 25px;
  margin-bottom: 40px;
  -ms-transform: translate(10px,100px);
  -webkit-transform: translate(10px,100px);
  transform: translate(10px,100px);
}


  .divii {
    width: 200px;
    height: 200px;
    background-color: grey;
    border: 1px solid black;
    margin-top: 100px;
    padding:20px;
    margin-left: 50px;
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
.diivi {
  width: 200px;
  height: 200px;
  background-color: grey;
  border: 1px solid black;
  margin-top: 100px;
  padding: 20px;
  margin-left: 50px;
  -ms-transform: scale(1.5,1);
 -webkit-transform: scale(1.5,1);
 transform: scale(1.5,1);
}

.div1{
  width: 200px;
  height: 200px;
  background-color: grey;
  border: 1px solid black;
  margin-top: 100px;
  padding: 20px;
  margin-left: 50px;
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
   transform: skewX(20deg);

}
.Div {
	width: 200px;
  height: 200px;
  background-color: grey;
  border: 1px solid black;
  margin-top: 70px;
  padding: 20px;
  margin-left: 50px;

  -webkit-transform: rotateY(150deg);
  transform: rotateY(150deg);
}

.Div1 {
	width: 200px;
  height: 200px;
  background-color: grey;
  border: 1px solid black;
  margin-top: 70px;
  padding: 20px;
  margin-left: 50px;
-ms-transform-origin: 20% 40%;
transform-origin: 20% 40%;
  -webkit-transform: rotateX(150deg);
  transform: rotateX(150deg);
}


.Div2 {
    backface-visibility: visible;
		display: block;
		width: 200px;
  	height: 200px;
  	background-color: grey;
  	border: 1px solid black;
  	margin-top: 70px;
  	padding: 20px;
	  margin-left: 50px;
    border: 1px solid #000000;
    animation: mymove 3s infinite;
    -moz-animation: mymove 3s infinite;
    -moz-animation-timing-function: linear;
    -webkit-animation: mymove 3s infinite;
    -webkit-animation-timing-function: linear;}






		.scene {
		  width: 300px;
		  height: 200px;
		  border: 1px solid #CCC;
		  margin: 80px;
		  perspective: 400px;
		}
		.box {
  width: 300px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-50px);
  transition: transform 1s;
}

.box.show-front  { transform: translateZ( -50px) rotateY(   0deg); }
.box.show-back   { transform: translateZ( -50px) rotateY(-180deg); }
.box.show-right  { transform: translateZ(-150px) rotateY( -90deg); }
.box.show-left   { transform: translateZ(-150px) rotateY(  90deg); }
.box.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.box.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }


.box-face {
  position: absolute;
  border: 2px solid black;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.box-front,
.box-back {
  width: 300px;
  height: 200px;
  line-height: 200px;
}

.box-right,
.box-left {
  width: 100px;
  height: 200px;
  left: 100px;
  line-height: 200px;
}

.box-top,
.box-bottom {
  width: 300px;
  height: 100px;
  top: 50px;
  line-height: 100px;
}

.box-front  { background: hsla(  0, 100%, 50%, 0.7); }
.box-right  { background: hsla( 60, 100%, 50%, 0.7); }
.box-back   { background: hsla(120, 100%, 50%, 0.7); }
.box-left   { background: hsla(180, 100%, 50%, 0.7); }
.box-top    { background: hsla(240, 100%, 50%, 0.7); }
.box-bottom { background: hsla(300, 100%, 50%, 0.7); }
.box-front  { transform: rotateY(  0deg) translateZ( 50px); }
.box-back   { transform: rotateY(180deg) translateZ( 50px); }

.box-right  { transform: rotateY( 90deg) translateZ(150px); }
.box-left   { transform: rotateY(-90deg) translateZ(150px); }

.box-top    { transform: rotateX( 90deg) translateZ(100px); }
.box-bottom { transform: rotateX(-90deg) translateZ(100px); }

.div3 {
  width: 190px;
  height: 190px;
	margin: 30px;
  padding-top: 10px;
	padding-left: 10px;
  background: grey;
  position :relative;
  -webkit-animation: Ex-move 3s infinite; /* Safari 4.0 - 8.0 */
  animation: Ex-move 3s infinite;
}

@-webkit-keyframes Ex-move {
  from {top: 0px;}
  to {top: 50px;}
}

/* Standard syntax */
@keyframes Ex-move {
  from {top: 0px;}
  to {top: 50px;}
}


.div4 {
	width: 190px;
  height: 190px;
	margin: 30px;
  padding-top: 10px;
	padding-left: 10px;
  background-color: grey;
  position: relative;
  -webkit-animation-name: Ex-animation;
  -webkit-animation-duration: 20s;
  animation-name: Ex-animation;
  animation-duration: 20s;
}


@-webkit-keyframes Ex-animation {
  0%   {background-color:blue; left:0px; top:0px;}
  25%  {background-color:lightblue; left400px; top:0px;}
  50%  {background-color:grey; left:400px; top:400px;}
  75%  {background-color:lightgrey; left:0px; top:400px;}
  100% {background-color:lightgreen; left:0px; top:0px;}
}


@keyframes Ex-animation {
  0%   {background-color:blue; left:0px; top:0px;}
  25%  {background-color:lightblue; left:400px; top:0px;}
  50%  {background-color:grey; left:400px; top:400px;}
  75%  {background-color:lightgrey; left:0px; top:400px;}
  100% {background-color:lightgreen; left:0px; top:0px;}
}

  .div5 {
  border: 2px solid;
  padding: 20px;
  width: 300px;
  resize: auto;
  overflow: auto;
}

.div6 {
  margin: 20px;
  border: 1px solid black;
  background-color: lightblue;
	width: 200px;
	height: 200px;
  outline: 4px solid lightblue;
  outline-offset: 8px;
}
