body, html
{
font-family: 'Titillium Web', sans-serif;
padding: 0;
margin: 0;
}
header
{
  background-color: #2e2e2e;

}
.container
{
  max-width: 1200px;
  margin:0 auto;
}
.header
{
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.header-top
{
color: white;
display: flex;
}
.header-top ul
{
  list-style-type: none;
  display: flex;
  padding: 3px;
}
.header-top a
{
  text-decoration: none;
  color: white;
  padding: 3px;
  justify-content: center;
}
.header-top a li:hover
{
  color: #6D214F;
}
.header-bottom ul
{
  display: flex;
  list-style-type: none;
}
.header-bottom ul li
{
  padding: 10px 4px;
}
.header-bottom ul li a
{
  padding: 6px;
  color: white;
  text-align: center;
  background: #787878;
  border-radius: 50%;
}
.linkedIn:hover
{
  background-color: #007bb5;
}
.twitter:hover
{
  background-color: #1da1f2;
}
.pinterest:hover
{
  background-color: #bd081c;
}
.googleplus:hover
{
  background-color: #db4437;
}
.rss:hover
{
  background-color: #ee802f;
}

.main-top1
{
  padding-bottom: 30px;
}
.main-top
{
padding-top: 0px;
}
.main-top li:hover
{
  border-bottom: 3px solid #0099ff;
}
.main-top ul
{
list-style-type: none;
display: flex;
}
.main-top ul a
{
  margin: 8px;
  text-decoration: none;
   display: inline-block;
   color: black;
}
.main-top ul a li:hover
{
color:black;
opacity: 0.5;
transition: 0.4s ease;
}
.main-top hr
{
  border:2px solid rgba(0,0,0,0.5);
}
.main-top li:hover
{
  border-bottom: 3px solid #0099ff;
}
.main-top1
{
  display: flex;
  justify-content: space-between;
}
.main-top li:hover
{
  border-bottom: 3px solid #0099ff;
}
.main-top
{
padding-top: 0px;
}
.main-top ul
{
list-style-type: none;
display: flex;
padding-left: 0;
margin-bottom: 0px;
}
.main-top ul a
{
  margin: 8px;
  text-decoration: none;
  display: inline-block;
  color: black;
}
.main-top ul a li:hover
{
color: #9f9f9f;
transition: 0.4s ease;
}


.dropdown div
{
  display: none;
}

.dropdown:hover div
{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
}
.dropdown div a
{
  margin-top: 0px;
  margin-bottom: 0px;
  width: auto;
  height: 30px;
  padding-top: 2px;
  padding-left: 2px;
  text-decoration: none;
  color: black;
  transition: 0.5s ease;
}

.dropdown div a:hover
{
  background-color: #0099ff;
  color: white;
  cursor: pointer;
  transition: 0.5s ease;
}

.butonat
{
  padding-top:50px;
}
#logo
{
  color: #2e2e2e;
  margin-bottom: 0px;
}
.teksti p
{
  margin-top: 0px;
  color: #999999;
}
.input1
{
  border:none;
  padding: 7px;
  border-radius: 5px;
  color: #2c3e50;
  outline: none;
}
.input1::placeholder
{
  font-size: 14px;
}
.input2
{
  border:none;
  background-color: #0099FF;
  padding: 7px;
  border-radius: 5px;
  color: white;
  outline: none;
}

footer
{
background-color: #1a1a1a;
color: white;
border-top: 4px solid #000000;
}
.footer
{
  display: flex;
  padding-bottom: 30px;
}
.name
{
background-color: #232323;
color: #989898;
border:none;
border-radius: 7px;
width: 250px;
padding: 13px;
margin-left: 5px;
margin-bottom: 15px;
font-size: 14px;
outline: none;
}
.email
{
background-color: #232323;
color: #989898;
border:none;
border-radius: 7px;
width: 250px;
padding: 13px;
margin-left: 5px;
margin-bottom: 15px;
font-size: 14px;
outline: none;
}
.subject
{
background-color: #232323;
color: #989898;
border:none;
border-radius: 7px;
width: 250px;
padding: 13px;
margin-left: 5px;
margin-bottom: 15px;
font-size: 14px;
outline: none;
}
.message
{
background-color: #232323;
color: #989898;
border:none;
border-radius: 7px;
width: 250px;
padding: 13px;
margin-left: 5px;
margin-bottom: 15px;
font-size: 14px;
outline: none;
}
.name:hover
{
transform: scale(1.03);
color: #8e44ad;
}
.email:hover
{
transform: scale(1.03);
color: #8e44ad;
}
.subject:hover
{
transform: scale(1.03);
color: #8e44ad;
}
.message:hover
{
transform: scale(1.03);
color: #8e44ad;
}
.submit
{
border:none;
background-color: #0099ff;
color: #ffffff;
border-radius: 7px;
width: 78px;
height: 31px;
margin-left: 5px;
margin-bottom: 12px;
}
.footer-right
{
display: flex;
text-align: center;
}
.footer-left
{
  display: flex;
  text-align: center;

}
.widthi
{
  width: 25%;
  margin: 9px;
}
.copy
{
  border-top: 3px solid #2d2d2d;
  padding: 3px;
  color: #666666;
  background-color: #222222;
}
.blogpost
{
  color: #666666;
}
.position
{
  color: white;
  display: flex;
  justify-content: space-between;
}
.admin
{
  margin-top: 0;
}
.position h3
{
  margin-bottom: 0;
}
/*------------------------------------------------------*/

.contactus
{
display: flex;
justify-content: space-between;
font-family: 'Niramit', sans-serif;
align-items: center;
font-size: 1em;
color: #596c6e;
padding: 10px;
padding-left: 24px;
border-left: 14px solid #0099ff;
background-color: #e0e0e0;
height: 120px;
max-width: 1150px;
margin: 0 auto;
margin-top: 50px;
margin-left: 28px;
margin-bottom: 28px;


}
.button
{
padding-top:
color:white;
float: right;
background-color: #0099ff;
border-radius: 8px;
vertical-align: center;
width: 279px;
height: 58px;
outline: none;
}
.button a
{
text-decoration:none;
color: white;
font-size: 30px;
font-family: 'Sorts Mill Goudy', serif;
padding-top: 3px;
}
.aboutus
{
padding: 20px;
border:none;
margin-left: 0px;
margin-bottom: 12px;
background-color: #1a1a1a;
color: #666666;
}
.imgborder
{
  border:1px solid #666666;
  padding: 5px;
}
.imgborder:hover
{
  transform: scale(1.1);
}
.readmore
{
background-color: none;
color:#0099ff;
display: flex;
justify-content: flex-end;
}
.quick a
{
background-color: none;
color:#0099ff;
}
.viza
{
  border-color: #232323;
}

.portfolio{
  
  height: 450px;
  background-image: url(../Images/bluebackground.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: scroll;
}
.portfolio p{
  font-size: 50px;
  color:#cfcfd1;

}
* {
  box-sizing: border-box;
}

.fototbashk {
  width: 100%;
  margin-right: 0px;
  background-image: url(../Images/port.jpg);
  background-size: 10%:
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.fototbashk span{
   display: flex;
    margin-left: 23%;
    padding-top: 40px;
    width:671.5px;
}

.fotonr1{
  flex: 44%;
  padding: 5px;
  padding-left: 0px;
}
.fotonr2{
  flex: 56%;
  padding: 5px;
  padding-top: 114px;
  padding-bottom: 30px;
}
.fotonr2 p{
  height: 200px;
}