header
{
  background-color: #2e2e2e;
}
.container
{
  max-width: 1200px;
  margin:0 auto;
}
.header
{
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.header-top
{
color: white;
display: flex;
}
.header-top ul
{
  list-style-type: none;
  display: flex;
  padding: 3px;
}
.header-top a
{
  text-decoration: none;
  color: white;
  padding: 3px;
  justify-content: center;
}
.header-top a li:hover
{
  color: #6D214F;
}
.header-bottom
{
  margin-left: 5px;
}
.header-bottom ul
{
  display: flex;
  list-style-type: none;
}
.header-bottom ul a
{
  padding: 6px;
}

.main-top1
{
  padding-bottom: 30px;
}
.main-top
{
padding-top: 0px;
}
.main-top li:hover
{
  border-bottom: 3px solid #0099ff;
}
.main-top ul
{
list-style-type: none;
display: flex;
margin-left: -35px;
}
.main-top ul a
{
  margin: 8px;
  text-decoration: none;
   display: inline-block;
   color: black;
}
.main-top ul a li:hover
{
color:black;
opacity: 0.5;
transition: 0.4s ease;
}
.main-top hr
{
  border:2px solid rgba(0,0,0,0.5);
}
.main-top1
{
  display: flex;
  justify-content: space-between;
}

.dropdown div
{
  display: none;
}

.dropdown:hover div 
{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
}
.dropdown div a
{
  margin-top: 0px;
  margin-bottom: 0px;
  width: auto;
  height: 30px;
  padding-top: 2px;
  padding-left: 2px;
  text-decoration: none;
  color: black;
  transition: 0.5s ease;
}

.dropdown div a:hover
{
  background-color: #0099ff;
  color: white;
  cursor: pointer;
  transition: 0.5s ease;
}