/********************Ardita**********************************/
header
{
  background-color: #2e2e2e;
}
.container
{
  max-width: 1200px;
  margin:0 auto;
}
.header
{
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.header-top
{
color: white;
display: flex;
}
.header-top ul
{
  list-style-type: none;
  display: flex;
  padding: 3px;
}
.header-top a
{
  text-decoration: none;
  color: white;
  padding: 3px;
  justify-content: center;
}
.header-top a li:hover
{
  color: #6D214F;
}
.header-bottom
{
  margin-left: 5px;
}
.header-bottom ul
{
  display: flex;
  list-style-type: none;
}
.header-bottom ul a
{
  padding: 6px;
}
.main-top1
{
  padding-bottom: 30px;
}
.main-top
{
padding-top: 0px;
}
.main-top li:hover
{
  border-bottom: 3px solid #0099ff;
}
.main-top ul
{
list-style-type: none;
display: flex;
margin-left: -35px;
}
.main-top ul a
{
  margin: 8px;
  text-decoration: none;
   display: inline-block;
   color: black;
}
.main-top ul a li:hover
{
color:black;
opacity: 0.5;
transition: 0.4s ease;
}
.main-top hr
{
  border:2px solid rgba(0,0,0,0.5);
}
.main-top1
{
  display: flex;
  justify-content: space-between;
}
.dropdown div
{
  display: none;
}

.dropdown:hover div
{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
}
.dropdown div a
{
  margin-top: 0px;
  margin-bottom: 0px;
  width: auto;
  height: 30px;
  padding-top: 2px;
  padding-left: 2px;
  text-decoration: none;
  color: black;
  transition: 0.5s ease;
}

.dropdown div a:hover
{
  background-color: #0099ff;
  color: white;
  cursor: pointer;
  transition: 0.5s ease;
}
.butonat
{
  padding-top:50px;
}
#logo
{
  color: #2e2e2e;
  margin-bottom: 0px;
}
.teksti p
{
  margin-top: 0px;
  color: #999999;
}
.input1
{
  border:none;
  padding: 7px;
  border-radius: 5px;
  color: #2c3e50;
  outline: none;
}
.input1::placeholder
{
  font-size: 14px;
}
.input2
{
  border:none;
  background-color: #0099FF;
  padding: 7px;
  border-radius: 5px;
  color: white;
  outline: none;
}
.main-bottom
{
  padding-top: 0px;
  padding-bottom: 30px;
  display: flex;
}
.mainbottom1
{
  width: 50%;
  justify-content: space-between;
}
.mainbottom1 img
{
  width: 100%;
}
.main1
{
  padding-top: 100px;
  padding-bottom: 50px;
}
.main1 h1
{
  line-height: 30px;
  width: 350px;
  color: #333333;
}
.main1 p
{
  color:#666666;
  width: 500px;
  font-family: 'Niramit', sans-serif;
}
.mainbottom1 img
{
  width: 550px;
  height: 440px;
}
.read input
{
  border:none;
  background-color: #0099ff;
  padding: 10px 15px 10px 0px;
  color: white;
  border-radius: 8px;
  width: 126px;
  height: 31px;
  outline: none;
}
/********************Rrezarta**********************************/
.image1
 {
width: 85px;
height: 80px;
padding: 1px;
margin-left: 95px;
padding-bottom: 22px;
border-radius: 3px;
/*border: 1px solid #d6dcd9;*/

}


.image2
 {
width: 85px;
height: 80px;
padding: 1px;
margin-left: 95px;
padding-bottom: 22px;
padding-top: 25px;
border-radius: 3px;
/*border: 1px solid #d6dcd9;*/

}


.image3
 {
width: 85px;
height: 80px;
padding: 1px;
margin-left: 95px;
padding-bottom: 22px;
border-radius: 3px;
/*border: 1px solid #d6dcd9;*/

}


.image4
 {
width: 85px;
height: 80px;
padding: 1px;
margin-left: 75px;
padding-bottom: 22px;
  padding-top: 25px;
border-radius: 3px;
/*border: 1px solid #d6dcd9;*/

}


.imageBig
{
  width: 655px;
  height: 412px;
  padding-top: 1px;
  margin-left: 30px ;
  margin-right: 5px;
  border-radius: 4px;
  border: 1px solid #d6dcd9;


}


.paragraf
{
  font-size: 14px;
	font-style: italic;
	font-family: Georgia;
  padding: 3px ;
  margin: 3px;
  text-align: center;


}



.div
{
	background-color: white;
	padding-left: 10px;
  padding-right: 80px;
  padding-top: 20px;
	margin: 40px;
  font-size: 14px;
  /*text-align: center;*/

  -webkit-column-count: 2;
  -webkit-column-gap: 8px;
  -webkit-column-rule: 1px, DarkCyan, outset;
  -webkit-column-fill: balance;
  -moz-transform-column-count: 2;
  -moz-transform-column-gap: 8px;
  -moz-transform-column-rule: 1px, DarkCyan, outset;
  -moz-transform-
  -o-transform-column-count: 2;
  -o-transform-column-gap: 8px;
  -o-transform-column-rule: 1px,DarkCyan , outset;
  -o-transform-column-fill: balance;
  -ms-transform-column-count: 2;
  -ms-transform-column-gap: 8px;
  -ms-transform-column-rule: 1px, DarkCyan, outset;
  -ms-transform-column-fill: balance;

}

.linku
 {

font-style: italic;
color: blue;
font-family: Arial;
font-size: 14px;
padding: 5px;
margin-left: 70px;
font-size: 14px;
text-align: center ;
text-decoration: none;


}

.linku:hover
{

	color: #999999;
  background-color:	#996666;
  padding: 1px;
  margin: 1px;
  margin-left: 65px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;

}


.linku:visited
{
color: blue;
background-color: #999999;
padding: 1px;
/*margin: 1px;*/
margin-left: 70px;
font-size: 14px;
text-align: center;
text-decoration: none;

}

.renditja
{
  /*text-align: center;*/

-webkit-column-count: 2;
-webkit-column-gap: 0.5px;
-webkit-column-rule: 1px, DarkCyan, outset;
-webkit-column-fill: balance;
-moz-transform-column-count: 2;
-moz-transform-column-gap: 8px;
-moz-transform-column-rule: 1px, DarkCyan, outset;
-moz-transform-
-o-transform-column-count: 2;
-o-transform-column-gap: 8px;
-o-transform-column-rule: 1px,DarkCyan , outset;
-o-transform-column-fill: balance;
-ms-transform-column-count: 2;
-ms-transform-column-gap: 8px;
-ms-transform-column-rule: 1px, DarkCyan, outset;
-ms-transform-column-fill: balance;

  }

/********************Egzona**********************************/
body, html
{
font-family: 'Titillium Web', sans-serif;
padding: 0;
margin: 0;
}
footer
{
background-color: #1a1a1a;
color: white;
border-top: 4px solid #000000;
}
.footer
{
  display: flex;
  padding-bottom: 30px;
}
.name
{
background-color: #232323;
color: #989898;
border:none;
border-radius: 7px;
width: 250px;
padding: 13px;
margin-left: 5px;
margin-bottom: 15px;
font-size: 14px;
outline: none;
}
.email
{
background-color: #232323;
color: #989898;
border:none;
border-radius: 7px;
width: 250px;
padding: 13px;
margin-left: 5px;
margin-bottom: 15px;
font-size: 14px;
outline: none;
}
.subject
{
background-color: #232323;
color: #989898;
border:none;
border-radius: 7px;
width: 250px;
padding: 13px;
margin-left: 5px;
margin-bottom: 15px;
font-size: 14px;
outline: none;
}
.message
{
background-color: #232323;
color: #989898;
border:none;
border-radius: 7px;
width: 250px;
padding: 13px;
margin-left: 5px;
margin-bottom: 15px;
font-size: 14px;
outline: none;
}
.name:hover
{
transform: scale(1.03);
color: #8e44ad;
}
.email:hover
{
transform: scale(1.03);
color: #8e44ad;
}
.subject:hover
{
transform: scale(1.03);
color: #8e44ad;
}
.message:hover
{
transform: scale(1.03);
color: #8e44ad;
}
.submit
{
border:none;
background-color: #0099ff;
color: #ffffff;
border-radius: 7px;
width: 78px;
height: 31px;
margin-left: 5px;
margin-bottom: 12px;
}
.footer-right
{
display: flex;
text-align: center;
}
.footer-left
{
  display: flex;
  text-align: center;

}
.widthi
{
  width: 25%;
  margin: 9px;
}
.copy
{
  border-top: 3px solid #2d2d2d;
  padding: 3px;
  color: #666666;
  background-color: #222222;
}
.blogpost
{
  color: #666666;
}
.position
{
  color: white;
  display: flex;
  justify-content: space-between;
}
.admin
{
  margin-top: 0;
}
.position h3
{
  margin-bottom: 0;
}
/*---------------------------PUHIZA----------------------------*/

.row1
{
text-align: center;
}
.row1 h1
{
margin-bottom: 3px;
}
.row1 h3
{
margin-top: 0px;
margin-left: -100px;
}
.contactus
{
display: flex;
justify-content: space-between;
font-family: 'Niramit', sans-serif;
align-items: center;
font-size: 1em;
color: #596c6e;
padding: 10px;
padding-left: 24px;
border-left: 14px solid #0099ff;
background-color: #e0e0e0;
 /*width: 960px;*/
height: 120px;
max-width: 1150px;
margin: 0 auto;
margin-left: 28px;
margin-bottom: 28px;


}
.button
{
padding-top:
color:white;
float: right;
/*margin-bottom: 100px;*/
background-color: #0099ff;
border-radius: 8px;
vertical-align: center;
width: 279px;
height: 58px;
outline: none;
}
.button a
{
text-decoration:none;
color: white;
font-size: 30px;
font-family: 'Sorts Mill Goudy', serif;
padding-top: 3px;
}
.aboutus
{
padding: 20px;
border:none;
margin-left: 0px;
margin-bottom: 12px;
background-color: #1a1a1a;
color: #666666;
}
.imgborder
{
  border:1px solid #666666;
  padding: 5px;
}
.imgborder:hover
{
  transform: scale(1.1);
}
.readmore
{
background-color: none;
color:#0099ff;
display: flex;
justify-content: flex-end;
}
.quick a
{
background-color: none;
color:#0099ff;
}
.viza
{
  border-color: #232323;
}
