/********************Egzona**********************************/
body, html
{
padding: 0;
margin: 0;
}
footer
{
background-color: #1a1a1a;
color: white;
}
.name
{
background-color: #232323;
color: #989898;
border:none;
border-radius: 7px;
width: 225px;
height: 31px;
padding: 5px;
margin-left: 5px;
margin-bottom: 12px;
font-size: 14px;
}
.email
{
background-color: #232323;
color: #989898;
border:none;
border-radius: 7px;
width: 225px;
height: 31px;
padding: 5px;
margin-left: 5px;
margin-bottom: 12px;
font-size: 14px;
}
.subject
{
background-color: #232323;
color: #989898;
border:none;
border-radius: 7px;
width: 225px;
height: 31px;
padding: 5px;
margin-left: 5px;
margin-bottom: 12px;
font-size: 14px;
}
.message
{
background-color: #232323;
color: #989898;
border:none;
border-radius: 7px;
width: 225px;
height: 110px;
padding: 5px;
margin-left: 5px;
margin-bottom: 12px;
font-size: 14px;
}
.name:hover
{
transform: scale(1.03);
color: #8e44ad;
}
.email:hover
{
transform: scale(1.03);
color: #8e44ad;
}
.subject:hover
{
transform: scale(1.03);
color: #8e44ad;
}
.message:hover
{
transform: scale(1.03);
color: #8e44ad;
}
.submit
{
	border:none;
	background-color: #0099ff;
	color: #ffffff;
	border-radius: 7px;
	width: 78px;
	height: 31px;
	margin-left: 5px;
	margin-bottom: 12px;
}